.admin-container {
    h3{
        margin: 0;
    padding-top: 30px;
    text-align: center;
    width: 25%;
    padding-bottom: 20px;
    color: brown;
    font-size: 33px;
    font-family: sans-serif;
    text-shadow: 2px 2px 7px;
    }
  background-color: aliceblue;
 
  h3 {
    margin: 0;
  }
  .header-content {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    box-shadow: 3px 3px 16px lightblue;
    background: white;
    width: 93%;
    margin: auto;
    .header-item {
      text-align: center;
      font-family: sans-serif;
      cursor: pointer;
      padding: 22px;

      span {
        font-size: 20px;
      }
      div {
        font-size: 38px;
      }
    }
    .header-item:hover{
        background-color: rgb(137, 136, 136);
        color: white;
        border-radius: 10px;
    }
  }
}

.analysis{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: aliceblue;
    padding: 20px 0px 20px 0px;
    .analysis-common{
        border: 1px solid;
        width: 48%;
        height: 50vh;
    }
    .graph-analysis{
      
    }
    .recent-student{
      overflow-x: scroll;
        h3{
            font-family: sans-serif;
            text-align: center;
            color: brown;
            background: yellowgreen;
            margin: 0;
            padding: 10px;
        }
        .bottom-header{
          background: #302e2e;
          padding: 6px;
          text-align: center;
        
          h2{
            margin: 0;
            a{
              text-decoration: none;
              color: white;
              font-weight: 300;
              font-size: 18px;
             
            }
          }
        }
        .student{
            display: flex;
    gap: 8px;
    padding-left: 10px;
    background: lightblue;
    color: darkgoldenrod;
    padding: 4px;
    font-size: 20px;
    border-bottom: 1px solid brown;

        }
    }
}


.student-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    h2{
        text-align: center;
    font-size: 32px;
    font-family: sans-serif;
    }
    form{

        input {
            display: block;
            width: 100%;
            margin-bottom: 17px;
            padding: 12px;
            font-size: 18px;
            outline: none;
        }
        button {
          display: block;
          width: 100%;
          padding: 10px;
          background-color: #007bff;
          color: #fff;
          border: none;
          cursor: pointer;
          font-size: 16px;
          transition: background-color 0.3s ease;
        }
        
  button:hover {
    background-color: #0056b3;
  }
  
    }
  }
  

@media screen and (max-width:600px){
  .analysis{
    flex-direction: column;
    .analysis-common{
      width: 97%;
    }
    .graph-analysis{
      canvas{
        height: 100%;
        width: 100%;
      }
    }
  }
  .admin-container{
    h3{
      font-size: 29px;
      width: 100%;
    }
    .header-content{
      width: 96%;
      .header-item{
        padding: 10px;
        div{
          font-size: 26px;

        }
        span{
          font-size: 17px;
        }
      }
    }
  }
}