.form-container {
  background-color: rgb(226, 229, 230);
  padding-left: 30px;
  padding-top: 50px;
  padding-bottom: 70px;

  h1 {
    margin-top: 0;
    padding-top: 10px;
    border-left: 6px solid blue;
    padding-left: 10px;
    font-weight: bold;
    font-size: 37px;
    margin-bottom: 7px;
  }
  span {
    font-size: 21px;
    margin-left: 11px;
    font-weight: bold;
    color: #36369d;
    border-bottom: 2px solid;
  }
  .input-container {
    padding-top: 36px;

    div {
      width: 50%;
      margin: auto;
      margin-top: 44px;
      input {
        width: 100%;
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 19px;
        border: none;
        outline: none;
        padding-left: 15px;
      }
      textarea {
        width: 100%;
        outline: none;
        padding-left: 15px;
        padding-top: 14px;
        padding-bottom: 14px;
        font-size: 19px;
        border: none;
      }
      button {
        width: 100%;
        padding: 8px;
        background: #5959ed;
        border: none;
        box-shadow: 1px 3px 4px blue;
        color: white;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
}
.footer-container {
  background: #6f0303;
  height: 57vh;
  .copy-container {
    color: lightgray;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    font-size: 20px;
  }
  section {
    padding-left: 20px;
    padding-top: 10px;
    img {
      width: 28%;
    }
  }
  div {
    h1 {
      font-size: 61px;
      color: white;
      text-align: center;
      font-weight: bolder;
    }
  }
}
.about-header {
  background-color: #6f0303;
  padding: 20px;
  h1 {
    color: white;
    text-align: center;
    font-size: 33px;
    letter-spacing: 2px;
    font-family: sans-serif;
  }
}
.paragraph {
  padding-left: 50px;
  padding-right: 50px;
  h1 {
    font-size: 36px;
    letter-spacing: 1px;
  }
  p {
    line-height: 30px;
    /* width: 59vw; */
    letter-spacing: 1px;
    font-size: 24px;
  }
  ol {
    line-height: 36px;
    /* width: 59vw; */
    letter-spacing: 1px;
    font-size: 24px;
  }
}

.administration {
  font-family: sans-serif;
  section {
    width: 73%;
    margin: auto;
    ul {
      font-size: 20px;
      li {
        margin-top: 7px;
        letter-spacing: 1px;
      }
    }
    h1 {
      font-size: 35px;
      letter-spacing: 1px;
    }
    p {
      line-height: 29px;
      font-size: 23px;
      letter-spacing: 1px;
    }
  }
}
.image-container {
  background-color: white;
  height: fit-content;
  display: flex;

  padding: 20px;

  .image-container1 {
    background-image: url("https://www.bsacet.org/wp-content/uploads/2020/05/matt-ragland-02z1I7gv4ao-unsplash-scaled.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;

    transition: 0.3s;
    text-align: center;
    div {
      position: relative;
      top: 10%;
      font-size: 42px;
      font-weight: bold;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    }
  }
  .image-container1:hover {
    filter: brightness(0.5);
  }
  .image-container2 {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://www.bsacet.org/wp-content/uploads/2020/05/coming-soon-600x800-1.jpg");
    width: 50%;

    .info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      gap: 40px;
      height: 100%;
      .container-info1 {
        border: 2px solid white;
        width: 40vw;
        text-align: center;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
      }
      .container-info2 {
        text-align: center;
        padding-top: 20px;

        width: 40vw;
        border: 2px solid white;
        font-size: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;

        h3 {
          font-size: 20px;
          color: white;
          a {
            text-decoration: none;
            color: #fff;
          }
        }
        p {
          color: yellow;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 977px) {
  .footer-container{
    height: 50vh;
    .copy-container{
      width: 94%;
      /* margin: auto; */
      justify-content: space-between;
      font-size: 17px;
    }
    section{
      img{
        width: 80%;
      }
    }
    div{
      h1{
        font-size: 32px;
      }
    }
  }
  .form-container {
    padding-left: 10px;
    padding-right: 10px;
    .input-container {
      margin: 0;
      div {
        width: 85%;
      }
    }
  }
  .image-container {
    flex-direction: column;
    .image-container1 {
      min-height: 485px;
      width: 100%;
    }
    .image-container2 {
      width: 100%;
      .info-container {
        .container-info1 {
          width: 88vw;
        }
        .container-info2 {
          width: 88vw;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .administration{
    section{
     
      width: 95%;
      ul{
        font-size: 18px;
      }
      h1{
        font-size: 24px;
      }
      p{

        font-size: 18px;
      }
    }
  }
 .about-header{
  padding: 2px;
  h1{
    font-size: 24px;
  }
 }
    .paragraph{
      padding-left: 13px;
      padding-right: 13px;
      ol{
        font-size: 18px;
      }
      h1{
        font-size: 28px;
      }
      p{
        
        font-size: 18px ;
      }
    }
  
  .image-container {
    .image-container2{
      .info-container{
        .container-info2{
          width: 95%;
        }
      }
    }
    padding: 0;
    width: 100%;
    .image-container2 {
      .info-container {
        .container-info1 {
          width: 97%;
          h1{
            margin-top: 2px;
          }
          h3{
            margin: 0;
          }
        }
      }
      
    }
  }
}
