$color: rgb(209, 150, 56);

.header {
  display: none;
}
header {
  background: rgb(137, 3, 3);
  width: 97.6%;
  color: lightgray;
  padding: 16px;
  text-align: end;
  position: fixed;
  top: 0;
  z-index: -1000;

  div {
    display: flex;
    gap: 10px;
    justify-content: end;
  }
}
.nav {
  background-color: rgb(16, 15, 15);
  position: sticky;
  z-index: 1000;
  top: -0.1%;
}
nav {
  display: flex;

  height: 14vh;

  margin-top: 55px;
  background-color: rgb(78 4 4);
  gap: 20px;
  padding: 10px;
  .hamburger {
    display: none;
  }
  img {
    height: 14vh;
  }
  ul {
    font-size: 1.7vw;
    letter-spacing: 0.5px;
    align-items: center;
    min-width: 779px;
    display: flex;
    list-style-type: none;
    gap: 1.2rem;
    font-weight: bold;
    img {
      display: none;
    }
    li {
      cursor: pointer;
      a {
        text-decoration: none;
        color: lightgray;
      }
    }
  }
}
.carousel-container {
  position: sticky;
  top: 15%;

  z-index: -2000;
}
.img {
  height: 93vh;
  object-fit: cover;
}
.about-container {
  padding-top: 2px;
  padding-bottom: 34px;
  background-image: url("../Assets/thought-catalog-505eectW54k-unsplash.jpg");
  text-align: center;
  background-size: "";

  h2 {
    font-size: 3.4vw;
    text-align: center;
    color: burlywood;
    font-family: monospace;
  }
  .section-1 {
    display: inline-block;
    width: 40%;

    margin-right: 38px;
    .image-about-container {
      border: 1px solid wheat;
      padding: 9px;
    }
    h3 {
      font-size: 42px;
      color: antiquewhite;
      font-weight: 600;
      font-family: math;
    }
    img {
      transition: 0.4s;
      height: 60vh;
      width: 100%;
      filter: brightness(0.9);
    }
    img:hover {
      filter: brightness(0.7);
      transform: scaleY(1);
    }
    p {
      width: 100%;
      line-height: 29px;
      font-size: 22px;
      font-family: system-ui;
      color: papayawhip;
      text-align: left;
    }
    button {
      display: inline-block;
      padding: 0.75rem 1.25rem;
      border-radius: 6rem;
      cursor: pointer;
      color: #fff;
      box-shadow: 1px 2px 1px #f8e9d0;
      border: 0.3px solid;
      border: none;
      font-size: 1rem;
      letter-spacing: 0.15rem;
      transition: all 0.3s;
      position: relative;
      overflow: hidden;
      z-index: 1;
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color;
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken($color, 15%);
        transition: all 0.3s;
        border-radius: 10rem;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    }
  }
  .section-2 {
    margin-left: 38px;
    marquee {
      height: 64vh;
      border: 0.2px solid palegoldenrod;
      margin-left: 20px;

      .scroll {
        cursor: pointer;
        font-size: 14px;
        text-align: center;
        padding: 1px;
        background: #b47b1d;
        font-family: sans-serif;
        margin-top: 21px;
        border: 0.1px solid #a19c9c;
        /* box-shadow: 4px 3px 6px lightgray; */
        color: rgb(215 194 194);
      }
    }
    h3 {
      font-size: 42px;
      color: antiquewhite;
      font-weight: 600;
      font-family: math;
    }
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
}
.card-container:hover {
  box-shadow: 4px 9px 12px;
}
.card-container {
  background-image: linear-gradient(#0aebeb, #809dee);
  transition: 0.2s ease;
  width: 350px;

  padding-bottom: 20px;

  img {
    width: 100%;
  }
  div {
    text-align: center;
    padding-top: 10px;
   
  }
  .icon {
    position: relative;
    background-color: white;
    top: -9%;
    width: fit-content;
    left: 41%;

    padding: 10px;
    border-radius: 50%;
  }
  h2 {
    margin-top: 0;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 27px;
    color: rgb(83, 77, 77);
  }
}

.inside-carousel {
  background-color: white;
  display: flex;
  border: 1px solid;
  overflow-x: scroll;
  height: 45vh;
  h1 {
    font-size: 42px;
    padding-left: 9px;
    margin-bottom: 40px;
    border-left: 6px solid blue;
    font-weight: bold;
  }

  img {
    height: 100%;
    width: 1200px !important;
  }
  // img{
  //     height: 30vh;
  //     width: 20vw;
  // }
}

.card-wrapper {
  display: flex;
  background-color: lightblue;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;
  padding-top: 70px;
  padding-bottom: 70px;
  button {
    padding: 13px;
    font-size: 18px;
    width: 102px;
    background: #ebebb2;
    border: 2px solid lightgray;
    box-shadow: 1px 0px 0px;
  }
}

@media screen and (max-width: 1111px) {
  nav {
    justify-content: space-between;
    .hamburger {
      display: block;
      padding: 0;
      position: relative;
      top: 29%;
      right: 1%;
      height: fit-content;
      transition: 1s ease;
    }
    .rotate {
      transform: rotate(360deg);
    }
    ul {
      img {
        display: block;
        padding-bottom: 13px;
      }
      display: none;
      position: fixed;
      background-color: black;
      min-width: 45%;
      flex-direction: column;
      padding-left: 0;
      padding: 20px;
      align-items: inherit;
      height: 100%;
      top: 0;
      left: 0;
      margin-top: 0;
      z-index: 2000;
      li {
        padding-left: 10px;
        font-family: sans-serif;
        background: #161212;
        padding: 10px;
        a {
          color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 977px) {
  nav {
    ul {
      li {
        font-size: 17px;
      }
    }
  }
  .card-container {
    width: 70vw;
  }
  .card-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .about-container {
    .section-1 {
      width: 82%;
      margin: 0;
      h3 {
        font-size: 35px;
      }
    }
    h2 {
      font-size: 35px;
    }
    .section-2 {
      width: 82%;
      margin: 0;
      h3 {
        font-size: 35px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .card-wrapper {
    background-color: azure;
    .card-container {
      border: 1px solid;
      padding: 5px;
      width: 80vw;
      height: 65vh;
      background: white;

      /* width: 350px; */
      /* width: 81%; */

      padding-bottom: 20px;
      h2 {
        font-size: 24px;
      }
      button {
        padding: 11px;
        font-size: 15px;
        border-radius: 10px;
      }
    }
  }
  .about-container {
    .section-1 {
      width: 97%;
      p {
        font-size: 18px;
      }
      img {
        height: 50vh;
      }
    }
    .section-2 {
      width: 97%;
      marquee {
        margin-left: 0;
        .scroll {
          font-size: 12px;
          padding: 5px;
          margin-top: 4px;
          h1 {
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .card-wrapper {
    .card-container {
      border-radius: 5px;
      width: 86%;
      height: fit-content;
      padding-bottom: 40px;
    }
  }
  nav {
    img {
      height: 10vh;
    }
  }
}
